/*Base-line styling, like background image, etc.*/
body {
    height: auto;
    width: 100%;
    background-position: center;
    background-image: url("https://i.gifer.com/2RNf.gif");
    overflow: auto;
    overflow-x: hidden;
}
/*Text inside introDiv styling*/
.myName, .mySkill {
    margin: auto;
    color: white;
}
/*Div that appears on page load, contains buttons to migrate to about me page*/
.introDiv {
    position: relative;
    top: 300px;
    margin: 0 auto;
    opacity: 0.5;
    width: 980px;
    text-align: center;
}
/*Removing default button appearance*/
.aboutBtn {
    color: white;
    background: none;
    border: none;
}
/*Hover effect for button added due to default border and background being removed*/
.aboutBtn:hover {
    transition: color, font-size 0.5s;
    color: #4aaaa5;
    font-size: large;
}
/*Fonts*/
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto 1%;
}
/*Bio*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
/*Title of each div, adding margin to adjust position and border to separate title from content*/
.divTitle {
    margin: 1%;
    border-bottom: darkolivegreen 2px solid;
}
/*Manageable image sizes*/
img {
    margin-top: 5px;
    height: 200px;
    width: 250px;
}
/*Adding border to header at top of page to match other divs*/
.header {
    border-bottom: darkolivegreen 5px solid;
    background-color: black;
    padding: 1%;
}
.name {
    color: #4aaaa5;
    text-align: center;
}
/*Container for about page content*/
.wrapper {
    margin: 0%;
    align-content: center;
    text-align: center;
    color: #4aaaa5;
    
}
/*Bio div*/
.aboutMe {
    width: 40%;
    line-height: 1.5;
    float: left;
    background-color: black;
    margin: 1% auto;
    margin-left: 2%;
    padding: 1%;
    border: darkolivegreen 5px solid;
}
/*Profile img, floated to compensate text*/
.aboutMe img {
    float: left;
    margin-right: 2%;
}
/*Portfolio div with cycling projects*/
.portfolio {
    margin: 1% auto;
    display: inline-block;
    background-color: black;
    padding: 1%;
    border: darkolivegreen 5px solid;
    width: 40%;
}
/*Targetting child div inside portfolio for positioning*/
.portfolio div {
    display: inline-block;
    margin: 1%;
}
/*Online profiles div, contains button to migrate to contact page*/
.onlineInfo {
    width: 40%;
    line-height: 1.5;
    display: inline-block;
    background-color: black;
    margin: 1% auto;
    padding: 1%;
    border: darkolivegreen 5px solid;
}
/*Button that migrates to contact page, removed default background and border*/
.contactBtn {
    color: #4aaaa5;
    background: none;
    border: none;
}
/*Added hover to compensate default appearance change*/
.contactBtn:hover {
    transition: color, font-size 0.5s;
    color: white;
    font-size: large;
}
/*Div that contains contact form*/
.contactForm {
    position: relative;
    top: 100px;
    margin: 1% auto;
    background-color: black;
    padding: 1%;
    border: darkolivegreen 5px solid;
    width: 60%;
    line-height: 1.5;
    text-align: center;
}
form {
    text-align: left;
}
/*Input fields inside form*/
input, textarea {
    margin: 1% auto;
    background-color: darkolivegreen;
    color: #4aaaa5;
    border: #444444 3px solid;
    width: 95%;
    resize: none;
}
/*Labels for input boxes*/
label {
    color: #4aaaa5;
}
/*Submit button for sending form info*/
.submitBtn {
    color: #4aaaa5;
    background: none;
    border: none;
}
/*Hover effects for submit button*/
.submitBtn:hover {
    transition: color, font-size 0.5s;
    color: white;
    font-size: large;
}
/*Home btn to return from contact page*/
.homeBtn {
    color: #4aaaa5;
    background: none;
    border: none;
    text-align: center;
}
/*Hover effects for home button*/
.homeBtn:hover {
    transition: color, font-size 0.5s;
    color: darkred;
    font-size: large;
}
/*Hover effects for links*/
a:hover {
    transition: color, font-size 0.8s;
    color: darkorchid;
    font-size: x-large;
}
@media screen and (max-width: 980px) {
    .introDiv {
        width: 80%;
        margin: auto;
    }
    .aboutMe {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .portfolio {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .onlineInfo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .contactForm {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .introDiv {
        width: 90%;
        margin: auto;
    }
    .aboutMe {
        width: 90%;
        float: none;
        margin: 1% auto;
    }
    .portfolio {
        width: 90%;
        float: none;
        margin: 1% auto;
    }
    .onlineInfo {
        width: 90%;
        float: none;
        margin: 1% auto;
    }
    .contactForm {
        width: 90%;
    }
}