body {
    height: auto;
    width: 100%;
    background-position: center;
    background-image: url("https://i.gifer.com/2RNf.gif");
    overflow: auto;
    overflow-x: hidden;
}
.myName, .mySkill {
    margin: auto;
    color: white;
}
.introDiv {
    position: relative;
    top: 300px;
    margin: 0 auto;
    opacity: 0.5;
    width: 980px;
    text-align: center;
}
.aboutBtn {
    color: white;
    background: none;
    border: none;
}
.aboutBtn:hover {
    transition: color 0.5s;
    color: #4aaaa5;
}
/*Fonts*/
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto 1%;
}
/*Bio*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.divTitle {
    margin: 1%;
}
/*Manageable image sizes*/
img {
    margin-top: 5px;
    height: 200px;
    width: 250px;
}
header {
    border-bottom: darkolivegreen 5px solid;
}
.wrapper {
    margin: 0%;
    align-content: center;
    text-align: center;
    color: #4aaaa5;
    
}
.aboutMe {
    width: 40%;
    line-height: 1.5;
    float: left;
    background-color: black;
    margin: 1% auto;
    margin-left: 2%;
    padding: 1%;
    border: darkolivegreen 5px solid;
}
.portfolio {
    margin: 1% auto;
    display: inline-block;
    background-color: black;
    padding: 1%;
    border: darkolivegreen 5px solid;
    width: 40%;
}
.portfolio div {
    display: inline-block;
    margin: 1%;
}
.contactInfo {
    width: 40%;
    line-height: 1.5;
    display: inline-block;
    background-color: black;
    margin: 1% auto;
    padding: 1%;
    border: darkolivegreen 5px solid;

}
.aboutMe img {
    float: left;
    margin-right: 2%;
}
.header {
    background-color: black;
    padding: 1%;
}
.divTitle {
    border-bottom: darkolivegreen 2px solid;
}
@media screen and (max-width: 980px) {
    .aboutMe {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .portfolio {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .contactInfo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
}
@media screen and (max-width: 640px) {
    .aboutMe {
        width: 90%;
        float: none;
        margin: 1% auto;
    }
    .portfolio {
        width: 90%;
        float: none;
        margin: 1% auto;
    }
    .contactInfo {
        width: 90%;
        float: none;
        margin: 1% auto;
    }
}