/*Background image*/
body {
  background-image: url("../assets/images/background.jpg");
}
/*Fonts*/
h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0 auto 1%;
}
/*Bio*/
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
/*Manageable image sizes*/
img {
  height: 200px;
  width: 250px;
}
/*Links*/
a {
  text-decoration: none;
  color: whitesmoke;
}
/*Project Divs*/
.project {
  background-color: darkolivegreen;
}
/*All containers on the page*/
.aboutMe, .skills, .portfolio, .jumbotron, .footer, .modal-header, .modal-body, .modal-footer, .contactBtn {
  background-color: darkolivegreen;
}
.contactBtn {
  border: none;
}